body{
    background-color: dimgray;
<<<<<<< HEAD
font-family:sans-serif;
=======
>>>>>>> c5953331a323c5e431b407e301a1d4dfc4f88f95
}
h1{
    font-weight: 100;
    font-family:sans-serif;
    background-color: aquamarine;
    border: green 2px solid;
    margin: 5px;
    padding: 5px;
    color: green;
<<<<<<< HEAD
    box-shadow: 1px 1px 5px 0px darkslategrey;
    
}
.conteiner p{
    background-color:white;
    padding: 5px;
    margin: 5px;
    border: green 2px solid;
    box-shadow: 1px 1px 5px 0px darkslategrey;
    
=======
>>>>>>> c5953331a323c5e431b407e301a1d4dfc4f88f95
}